<div id="app">
  <pagination v-on:send-page-from-child="switchComponent"></pagination>
  <first-page :page-state="pageState"></first-page>
  <second-page :page-state="pageState"></second-page>
  <third-page :page-state="pageState"></third-page>
  <fourth-page :page-state="pageState"></fourth-page>
</div>

<script type="text/x-template" id="pagination-template">
  <ul class="list-inline">
    <li @click="changeState('first')" class="btn btn-primary">1</li>
    <li @click="changeState('second')" class="btn btn-primary">2</li>
    <li @click="changeState('third')" class="btn btn-primary">3</li>
    <li @click="changeState('fourth')" class="btn btn-primary">4</li>
  </ul>
</script>
<script type="text/x-template" id="first-page-template">
  <div v-show="active">
    <p>1ページのコンテンツ</p>
  </div>
</script>
<script type="text/x-template" id="second-page-template">
  <div v-show="active">
    <p>2ページのコンテンツ</p>
  </div>
</script>
<script type="text/x-template" id="third-page-template">
  <div v-show="active">
    <p>3ページのコンテンツ</p>
  </div>
</script>
<script type="text/x-template" id="fourth-page-template">
  <div v-show="active">
    <p>4ページのコンテンツ</p>
  </div>
</script>
