<div id="app">
  <first-page></first-page>
  <second-page></second-page>
</div>

<script type="text/x-template" id="first-page-template">
  <div>
    <p>1ページのコンテンツ</p>
  </div>
</script>
<script type="text/x-template" id="second-page-template">
  <div>
    <p>2ページのコンテンツ</p>
  </div>
</script>
